<div class="layout">
  <div class="columns">
    <div class="column">
      <div class="list" data-list-limit="true" data-list-max-height="340" data-list-hidden-count="true" data-list-max-columns="1">
        <span class="label">{{data.place}}</span>
        <div class="item">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content">
            <span class="title title--small">{{data.description}}</span>
            <span class="description">{{data.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Description</span>
</div>